<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.425" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.216" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.113" targetFramework="net40" />
  <package id="FubuMVC.Core" version="0.9.9.1319" targetFramework="net40" />
  <package id="FubuMVC.Core.Assets" version="0.9.9.70" targetFramework="net40" />
  <package id="FubuMVC.Core.UI" version="0.9.9.81" targetFramework="net40" />
  <package id="FubuMVC.Core.View" version="0.9.9.73" targetFramework="net40" />
  <package id="FubuMVC.JQueryUI" version="0.5.0.167" targetFramework="net40" />
  <package id="FubuMVC.Media" version="0.9.5.258" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.136" targetFramework="net40" />
</packages>