Bottles
Castle.Core
DotNetZip
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.SelfHost
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
Newtonsoft.Json
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Storyteller2
